# Logestic Regression Model - COEF_features

In [43]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sqlalchemy import create_engine
from config import db_password
import matplotlib.pyplot as plt
import seaborn as sns
import math

In [44]:
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/wnba_champs"
engine = create_engine(db_string)

In [45]:
stats_df = pd.read_sql("select * from \"stats\"", db_string);
stats_df.head()

,index,Position,Season,Tm,Age,W,L,Win_pct,PW,PL,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,0,1,1997-98,HOC,28.8,18,10,0.6429,22,6,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,1,0,1997-98,PHM,27.9,16,12,0.5714,20,8,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,2,0,1997-98,NYL,27.5,17,11,0.6071,17,11,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,3,0,1997-98,LAS,25.5,14,14,0.5000,17,11,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,4,0,1997-98,CLR,28.1,15,13,0.5357,16,12,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [46]:
test_df= pd.read_sql("select * from \"cy_stats\"", db_string)
test_df.head()

,index,Position,Season,Tm,Age,W,L,Win_pct,PW,PL,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,0,0,2021-22,COS,28.3,26,6,0.8125,28,4,...,0.298,0.543,0.497,15.9,31.2,0.220,0.459,16.1,82.1,0.201
1,1,1,2021-22,LVA,26.4,24,8,0.7500,26,6,...,0.192,0.559,0.508,12.6,21.3,0.255,0.464,12.5,80.0,0.165
2,2,0,2021-22,SES,28.1,21,11,0.6563,22,10,...,0.328,0.556,0.512,13.9,20.9,0.206,0.483,14.4,78.6,0.180
3,3,0,2021-22,MLY,27.6,22,10,0.6875,21,11,...,0.296,0.553,0.508,15.8,22.3,0.218,0.476,14.6,79.7,0.194
4,4,0,2021-22,PHM,28.4,19,13,0.5938,19,13,...,0.332,0.553,0.507,14.7,23.8,0.235,0.466,11.3,75.1,0.167

In [47]:
# Pull out Season, TM and Team_Name into DF
name_df = stats_df[['Season', 'Tm',]]
name_df.head()

    Season   Tm
0  1997-98  HOC
1  1997-98  PHM
2  1997-98  NYL
3  1997-98  LAS
4  1997-98  CLR

In [48]:
#list(stats_df.columns)

In [49]:
all_features_df = stats_df
all_features_df.head()

,index,Position,Season,Tm,Age,W,L,Win_pct,PW,PL,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,0,1,1997-98,HOC,28.8,18,10,0.6429,22,6,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,1,0,1997-98,PHM,27.9,16,12,0.5714,20,8,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,2,0,1997-98,NYL,27.5,17,11,0.6071,17,11,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,3,0,1997-98,LAS,25.5,14,14,0.5000,17,11,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,4,0,1997-98,CLR,28.1,15,13,0.5357,16,12,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [50]:
stats_df.head()

,index,Position,Season,Tm,Age,W,L,Win_pct,PW,PL,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,0,1,1997-98,HOC,28.8,18,10,0.6429,22,6,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,1,0,1997-98,PHM,27.9,16,12,0.5714,20,8,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,2,0,1997-98,NYL,27.5,17,11,0.6071,17,11,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,3,0,1997-98,LAS,25.5,14,14,0.5000,17,11,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,4,0,1997-98,CLR,28.1,15,13,0.5357,16,12,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [51]:
# Drop un needed columns
all_features_df.drop(['index',
 'Season',
 'Tm',
 'W',
 'L',
 #'Win_pct',
 #'MOV',
 #'SOS',
 #'SRS',
 #'Pace',
 #'ORtg',
 #'DRtg',
 #'eFG_pct',
 #'TS_pct',
 #'TOV_pct',
 #'ORB_pct',
 #'FT_FGA',
 #'Opp_eFG_pct',
 #'Opp_TS_pct',
 #'Opp_TOV_pct',
 #'Opp_ORB_pct',
 #'Opp_FT_FGA'
              ], axis=1, inplace=True)

In [52]:
all_features_df.head()

,Position,Age,Win_pct,PW,PL,MOV,SOS,SRS,ORtg,DRtg,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,1,28.8,0.6429,22,6,6.32,-0.79,5.53,99.4,90.7,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,0,27.9,0.5714,20,8,4.00,-0.48,3.38,91.4,86.1,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,0,27.5,0.6071,17,11,2.39,-0.32,2.22,90.6,87.4,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,0,25.5,0.5000,17,11,2.21,-0.23,1.63,93.9,91.1,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,0,28.1,0.5357,16,12,1.79,-0.22,1.56,94.4,92.0,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [53]:
# Remove Position target from features data
y = all_features_df.Position
X = all_features_df.drop(columns=["Position"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [54]:
feature_names = X.columns

In [55]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Scale the data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [56]:
# Create a logistic regression model
classifier_AF = LogisticRegression(max_iter=1000)
classifier_AF

LogisticRegression(max_iter=1000)

In [57]:
# Fit (train) our model by using the training data
classifier_AF.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=1000)

In [58]:
# Validate the model by using the test data
print(f"Logistic Regression Training Data Score: {classifier_AF.score(X_train_scaled, y_train)}")
print(f"Logistic Regression Testing Data Score: {classifier_AF.score(X_test_scaled, y_test)}")

Logistic Regression Training Data Score: 0.9282700421940928
Logistic Regression Testing Data Score: 0.9240506329113924

All features score = 0..92405

Find accuracy using top 10 coefficient features

In [59]:
# https://towardsdatascience.com/a-look-into-feature-importance-in-logistic-regression-models-a4aa970f9b0f
import numpy as np
feature_bol = np.round(classifier_AF.coef_,decimals=2) 
feature_bol

array([[-0.11,  0.7 ,  0.65,  0.04, -0.12, -0.59, -0.2 ,  0.14,  0.06,
         0.07,  0.07,  0.12, -0.12,  0.35,  0.19, -0.11,  0.07,  0.27,
        -0.21,  0.06, -0.07, -0.09]])

In [60]:
feature_names

Index(['Age', 'Win_pct', 'PW', 'PL', 'MOV', 'SOS', 'SRS', 'ORtg', 'DRtg',
       'NRtg', 'Pace', 'FTr', '3PAr', 'TS_pct', 'eFG_pct', 'TOV_pct',
       'ORB_pct', 'FT_FGA', 'Opp_eFG_pct', 'Opp_TOV_pct', 'opp_DRB%',
       'Opp_FT_FGA'],
      dtype='object')

In [61]:
coef_features_df = all_features_df
coef_features_df.head()

,Position,Age,Win_pct,PW,PL,MOV,SOS,SRS,ORtg,DRtg,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,1,28.8,0.6429,22,6,6.32,-0.79,5.53,99.4,90.7,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,0,27.9,0.5714,20,8,4.00,-0.48,3.38,91.4,86.1,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,0,27.5,0.6071,17,11,2.39,-0.32,2.22,90.6,87.4,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,0,25.5,0.5000,17,11,2.21,-0.23,1.63,93.9,91.1,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,0,28.1,0.5357,16,12,1.79,-0.22,1.56,94.4,92.0,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [62]:
stats_df.head()

,Position,Age,Win_pct,PW,PL,MOV,SOS,SRS,ORtg,DRtg,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,1,28.8,0.6429,22,6,6.32,-0.79,5.53,99.4,90.7,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,0,27.9,0.5714,20,8,4.00,-0.48,3.38,91.4,86.1,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,0,27.5,0.6071,17,11,2.39,-0.32,2.22,90.6,87.4,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,0,25.5,0.5000,17,11,2.21,-0.23,1.63,93.9,91.1,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,0,28.1,0.5357,16,12,1.79,-0.22,1.56,94.4,92.0,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [63]:
# Drop un needed columns
coef_features_df.drop([#'index',
 #'Season',
 #'Tm',
 #'G',
 #'W',
 #'L',
 #'Win_pct',
 #'MOV',
 #'SOS',
 #'SRS',
 #'Pace',
 #'ORtg',
 'DRtg',
 #'eFG_pct',
 'TS_pct',
 'TOV_pct',
 #'ORB_pct',
 'FT_FGA',
 'Opp_eFG_pct',
 #'Opp_TOV_pct',
 #'Opp_ORB_pct',
 'Opp_FT_FGA'
              ], axis=1, inplace=True)

In [64]:
stats_df.head()

,Position,Age,Win_pct,PW,PL,MOV,SOS,SRS,ORtg,NRtg,Pace,FTr,3PAr,eFG_pct,ORB_pct,Opp_TOV_pct,opp_DRB%
0,1,28.8,0.6429,22,6,6.32,-0.79,5.53,99.4,8.7,71.6,0.357,0.292,0.473,36.2,22.3,64.7
1,0,27.9,0.5714,20,8,4.00,-0.48,3.38,91.4,5.3,74.7,0.359,0.247,0.411,33.2,24.2,68.5
2,0,27.5,0.6071,17,11,2.39,-0.32,2.22,90.6,3.2,74.3,0.354,0.198,0.439,34.6,22.7,64.7
3,0,25.5,0.5000,17,11,2.21,-0.23,1.63,93.9,2.8,77.1,0.348,0.136,0.464,32.7,19.4,67.9
4,0,28.1,0.5357,16,12,1.79,-0.22,1.56,94.4,2.4,73.3,0.382,0.108,0.464,32.2,20.2,67.1

In [65]:
all_features_df.head()

,Position,Age,Win_pct,PW,PL,MOV,SOS,SRS,ORtg,NRtg,Pace,FTr,3PAr,eFG_pct,ORB_pct,Opp_TOV_pct,opp_DRB%
0,1,28.8,0.6429,22,6,6.32,-0.79,5.53,99.4,8.7,71.6,0.357,0.292,0.473,36.2,22.3,64.7
1,0,27.9,0.5714,20,8,4.00,-0.48,3.38,91.4,5.3,74.7,0.359,0.247,0.411,33.2,24.2,68.5
2,0,27.5,0.6071,17,11,2.39,-0.32,2.22,90.6,3.2,74.3,0.354,0.198,0.439,34.6,22.7,64.7
3,0,25.5,0.5000,17,11,2.21,-0.23,1.63,93.9,2.8,77.1,0.348,0.136,0.464,32.7,19.4,67.9
4,0,28.1,0.5357,16,12,1.79,-0.22,1.56,94.4,2.4,73.3,0.382,0.108,0.464,32.2,20.2,67.1

In [66]:
# Remove Position target from features data
y = coef_features_df.Position
X = coef_features_df.drop(columns=["Position"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [67]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Scale the data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [68]:
# Create a logistic regression model
classifier_CF = LogisticRegression(max_iter=1000)
classifier_CF

LogisticRegression(max_iter=1000)

In [69]:
# Fit (train) our model by using the training data
classifier_CF.fit(X_train_scaled, y_train)

LogisticRegression(max_iter=1000)

In [70]:
# Validate the model by using the test data
print(f"Logistic Regression with coef features only Training Data Score: {classifier_CF.score(X_train_scaled, y_train)}")
print(f"Logistic Regression with coef features only Testing Data Score: {classifier_CF.score(X_test_scaled, y_test)}")

Logistic Regression with coef features only Training Data Score: 0.919831223628692
Logistic Regression with coef features only Testing Data Score: 0.9240506329113924

Coefficient features score = 0.92405

In [71]:
# Pull out Season, TM and Team_Name into DF
test_name_df = test_df[['Season', 'Tm']]
test_name_df.head()

    Season   Tm
0  2021-22  COS
1  2021-22  LVA
2  2021-22  SES
3  2021-22  MLY
4  2021-22  PHM

In [72]:
test_df_pos= test_df['Position']
test_df.drop(['index',
 'Position',
 'Season',
 'Tm',
 'W',
 'L',
 #'Win_pct',
 #'MOV',
 #'SOS',
 #'SRS',
 #'Pace',
 #'ORtg',
 'DRtg',
 #'eFG_pct',
 'TS_pct',
 'TOV_pct',
 #'ORB_pct',
 'FT_FGA',
 'Opp_eFG_pct',
 #'Opp_TOV_pct',
 #'Opp_ORB_pct',
 'Opp_FT_FGA'
             ], axis=1, inplace=True)
test_df

,Age,Win_pct,PW,PL,MOV,SOS,SRS,ORtg,NRtg,Pace,FTr,3PAr,eFG_pct,ORB_pct,Opp_TOV_pct,opp_DRB%
0,28.3,0.8125,28,4,9.81,-0.95,8.86,106.9,13.2,74.0,0.270,0.298,0.497,31.2,16.1,82.1
1,26.4,0.7500,26,6,9.06,-0.62,8.44,109.1,11.1,80.8,0.312,0.192,0.508,21.3,12.5,80.0
2,28.1,0.6563,22,10,4.44,-0.63,3.80,106.3,5.6,78.2,0.246,0.328,0.512,20.9,14.4,78.6
3,27.6,0.6875,21,11,4.00,-0.37,3.63,104.2,5.1,78.7,0.260,0.296,0.508,22.3,14.6,79.7
4,28.4,0.5938,19,13,2.56,-0.12,2.45,106.5,3.3,76.4,0.295,0.332,0.507,23.8,11.3,75.1
5,28.4,0.5000,18,14,1.31,-0.22,1.10,102.9,1.6,79.6,0.243,0.304,0.493,23.8,15.9,73.9
6,24.8,0.4375,15,17,-0.53,0.30,-0.23,104.3,-0.7,77.2,0.233,0.327,0.477,27.8,14.1,77.6
7,28.7,0.3750,11,21,-3.84,0.26,-3.58,101.5,-4.9,78.3,0.251,0.396,0.475,21.9,15.3,76.4
8,27.5,0.3750,10,22,-4.34,0.55,-3.79,93.7,-5.6,77.1,0.237,0.306,0.462,17.4,19.2,71.4
9,27.4,0.2500,9,23,-5.63,0.24,-5.38,99.3,-7.1,78.6,0.214,0.269,0.459,24.6,16.8,73.7
10,25.7,0.3750,7,25,-7.03,0.71,-6.32,97.0,-8.7,80.6,0.222,0.420,0.504,18.4,13.2,75.2
11,27.3,0.1875,5,27,-9.81,0.85,-8.97,97.4,-12.7,77.3,0.249,0.253,0.453,27.4,13.6,75.6

In [73]:
df_X_test_scaled = scaler.fit_transform(test_df)

In [74]:
df_test_df=classifier_CF.predict(df_X_test_scaled)
df_test_df

array([0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [75]:
cy_test_df = pd.DataFrame(df_test_df, columns = ['Position'])
cy_test_df.head()

   Position
0         0
1         1
2         0
3         0
4         0

In [76]:
joined_df = test_name_df.join(cy_test_df)
joined_df

     Season   Tm  Position
0   2021-22  COS         0
1   2021-22  LVA         1
2   2021-22  SES         0
3   2021-22  MLY         0
4   2021-22  PHM         0
5   2021-22  CSK         0
6   2021-22  DAW         0
7   2021-22  WAM         0
8   2021-22  LAS         0
9   2021-22  ATD         0
10  2021-22  NYL         0
11  2021-22  INF         0

In [77]:
classifier_CF.predict_proba(df_X_test_scaled)

array([[6.55217655e-01, 3.44782345e-01],
       [3.76636032e-01, 6.23363968e-01],
       [8.44590095e-01, 1.55409905e-01],
       [8.68328455e-01, 1.31671545e-01],
       [8.64473281e-01, 1.35526719e-01],
       [9.65683169e-01, 3.43168308e-02],
       [9.91149063e-01, 8.85093686e-03],
       [9.95682328e-01, 4.31767220e-03],
       [9.98310811e-01, 1.68918937e-03],
       [9.98624303e-01, 1.37569740e-03],
       [9.97543435e-01, 2.45656531e-03],
       [9.99424162e-01, 5.75838365e-04]])