In [1]:
# Initial imports
import pandas as pd
from path import Path
from sqlalchemy import create_engine
from config import db_password

In [2]:
# Load the cy_stats2.csv dataset with data as of 11/15/2021
csv_path = Path("C:/Users/rafae/OneDrive/Desktop/FINAL_PROJECT/wmba_stats.csv")
cy_stats_df = pd.read_csv(csv_path)
cy_stats_df

,Position,Season,Tm,Team,Age,W,L,W/L%,PW,PL,...,3PAr,TS%,eFG%,TOV%,ORB%,FT/FGA,opp_eFG%,opp_TOV%,opp_DRB%,opp_FT/FGA
0,1,1997-98,HOC,Houston Comets,28.8,18,10,0.6429,22,6,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,0,1997-98,PHM,Phoenix Mercury,27.9,16,12,0.5714,20,8,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,0,1997-98,NYL,New York Liberty,27.5,17,11,0.6071,17,11,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,0,1997-98,LAS,Los Angeles Sparks,25.5,14,14,0.5000,17,11,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,0,1997-98,CLR,Cleveland Rockers,28.1,15,13,0.5357,16,12,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
311,0,2021-22,WAM,Washington Mystics,28.7,12,20,0.3750,11,21,...,0.396,0.519,0.475,13.7,21.9,0.203,0.520,15.3,76.4,0.208
312,0,2021-22,LAS,Los Angeles Sparks,27.5,12,20,0.3750,10,22,...,0.306,0.501,0.462,15.4,17.4,0.181,0.476,19.2,71.4,0.267
313,0,2021-22,ATD,Atlanta Dream,27.4,8,24,0.2500,9,23,...,0.269,0.489,0.459,12.1,24.6,0.154,0.520,16.8,73.7,0.234
314,0,2021-22,NYL,New York Liberty,25.7,12,20,0.3750,7,25,...,0.420,0.541,0.504,18.2,18.4,0.181,0.488,13.2,75.2,0.203
315,0,2021-22,INF,Indiana Fever,27.3,6,26,0.1875,5,27,...,0.253,0.498,0.453,15.4,27.4,0.199,0.517,13.6,75.6,0.222

In [3]:
cy_stats_df = cy_stats_df.rename(columns={'W/L%': 'Win_pct', 'eFG%': 'eFG_pct','TS%': 'TS_pct', 'TOV%': 'TOV_pct', 'ORB%': 'ORB_pct' ,'FT/FGA': 'FT_FGA',
                                   'opp_eFG%': 'Opp_eFG_pct','opp_TS%': 'Opp_TS_pct', 'opp_TOV%': 'Opp_TOV_pct', 'opp_ORB%': 'Opp_ORB_pct', 'opp_FT/FGA': 'Opp_FT_FGA' })
cy_stats_df.head()

,Position,Season,Tm,Team,Age,W,L,Win_pct,PW,PL,...,3PAr,TS_pct,eFG_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TOV_pct,opp_DRB%,Opp_FT_FGA
0,1,1997-98,HOC,Houston Comets,28.8,18,10,0.6429,22,6,...,0.292,0.523,0.473,20.4,36.2,0.266,0.444,22.3,64.7,0.236
1,0,1997-98,PHM,Phoenix Mercury,27.9,16,12,0.5714,20,8,...,0.247,0.473,0.411,18.8,33.2,0.274,0.441,24.2,68.5,0.245
2,0,1997-98,NYL,New York Liberty,27.5,17,11,0.6071,17,11,...,0.198,0.482,0.439,21.3,34.6,0.236,0.422,22.7,64.7,0.246
3,0,1997-98,LAS,Los Angeles Sparks,25.5,14,14,0.5000,17,11,...,0.136,0.504,0.464,20.4,32.7,0.235,0.423,19.4,67.9,0.263
4,0,1997-98,CLR,Cleveland Rockers,28.1,15,13,0.5357,16,12,...,0.108,0.515,0.464,21.6,32.2,0.276,0.449,20.2,67.1,0.219

In [4]:

db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/wnba_champs"

In [5]:
engine = create_engine(db_string)

In [6]:
cy_stats_df.to_sql(name='cy_stats2', con=engine)