# Decision_Tree_Classifier_model

## Summary of Segment 1

- This is a mock model using dummie data, we'll be building the model on this to produce the final outcome.

- Model is able to connect to postgreSQL database, extract the data and provide and output.

In [3]:
# Import our dependencies
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import math
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sqlalchemy import create_engine
from config import db_password
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.model_selection import RandomizedSearchCV, GridSearchCV
from sklearn import tree

### Connecting to Postgres Database "wnba_champs"

In [4]:
# Establishing connection to PostgresSQL database
db_string = f"postgresql://postgres:{db_password}@127.0.0.1:5432/wnba_champs"
engine = create_engine(db_string)

### Pulling data from postgreSQL database

In [5]:
# Extracting data from database
stats_df = pd.read_sql("select * from \"stats\"", db_string);
stats_df.head()

,index,Position,Season,Tm,G,W,L,Win_pct,MOV,SOS,...,eFG_pct,TS_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TS_pct,Opp_TOV_pct,Opp_ORB_pct,Opp_FT_FGA
0,0,0,2020-21,ORL,72,21,51,0.292,-9.31,0.29,...,0.490,0.527,11.5,21.6,0.186,0.547,0.577,11.5,21.8,0.169
1,1,0,2020-21,OKC,72,22,50,0.306,-10.64,0.51,...,0.509,0.539,14.2,21.2,0.176,0.547,0.576,11.5,22.1,0.167
2,2,0,2020-21,NYK,72,41,31,0.569,2.31,-0.18,...,0.524,0.559,11.9,21.9,0.190,0.509,0.545,11.7,21.4,0.196
3,3,0,2020-21,NOP,72,31,41,0.431,-0.29,0.10,...,0.537,0.570,12.7,26.3,0.214,0.550,0.583,11.9,20.0,0.186
4,4,0,2020-21,MIN,72,23,49,0.319,-5.56,0.31,...,0.520,0.555,12.4,22.7,0.193,0.556,0.591,13.3,23.2,0.207

In [6]:
test_df= pd.read_sql("select * from \"cy_stats\"", db_string)
test_df.head()

,index,Position,Season,Tm,G,W,L,Win_pct,MOV,SOS,...,eFG_pct,TS_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TS_pct,Opp_TOV_pct,Opp_ORB_pct,Opp_FT_FGA
0,0,0,2021-22,MIA,6,5,1,0.833,17.00,1.07,...,0.525,0.565,13.6,27.5,0.197,0.464,0.501,13.4,15.9,0.181
1,1,0,2021-22,WAS,7,5,2,0.714,2.57,1.11,...,0.505,0.549,11.5,20.4,0.213,0.492,0.535,11.0,20.5,0.197
2,2,0,2021-22,UTA,6,5,1,0.833,12.83,-3.08,...,0.526,0.574,14.2,24.6,0.236,0.450,0.485,10.8,23.1,0.164
3,3,0,2021-22,TOR,8,5,3,0.625,4.63,1.25,...,0.487,0.518,12.1,29.8,0.158,0.521,0.554,16.8,20.6,0.178
4,4,0,2021-22,SAS,7,2,5,0.286,-0.43,-1.50,...,0.526,0.542,12.2,22.2,0.113,0.549,0.568,15.2,21.4,0.130

In [7]:
# Extract Season, TM and Team_Name into DF
name_df = stats_df[['Season', 'Tm',]]
name_df.head()

    Season   Tm
0  2020-21  ORL
1  2020-21  OKC
2  2020-21  NYK
3  2020-21  NOP
4  2020-21  MIN

In [8]:
list(stats_df.columns)

['index',
 'Position',
 'Season',
 'Tm',
 'G',
 'W',
 'L',
 'Win_pct',
 'MOV',
 'SOS',
 'SRS',
 'Pace',
 'ORtg',
 'DRtg',
 'eFG_pct',
 'TS_pct',
 'TOV_pct',
 'ORB_pct',
 'FT_FGA',
 'Opp_eFG_pct',
 'Opp_TS_pct',
 'Opp_TOV_pct',
 'Opp_ORB_pct',
 'Opp_FT_FGA']

In [9]:
# Drop unneeded columns
stats_df.drop(['index',
 'Season',
 'Tm',
 'G',
 'W',
 'L',

              ], axis=1, inplace=True)

In [10]:
stats_df.head()

,Position,Win_pct,MOV,SOS,SRS,Pace,ORtg,DRtg,eFG_pct,TS_pct,TOV_pct,ORB_pct,FT_FGA,Opp_eFG_pct,Opp_TS_pct,Opp_TOV_pct,Opp_ORB_pct,Opp_FT_FGA
0,0,0.292,-9.31,0.29,-9.02,98.7,105.1,114.5,0.490,0.527,11.5,21.6,0.186,0.547,0.577,11.5,21.8,0.169
1,0,0.306,-10.64,0.51,-10.13,101.0,103.5,114.0,0.509,0.539,14.2,21.2,0.176,0.547,0.576,11.5,22.1,0.167
2,0,0.569,2.31,-0.18,2.13,95.9,110.6,108.2,0.524,0.559,11.9,21.9,0.190,0.509,0.545,11.7,21.4,0.196
3,0,0.431,-0.29,0.10,-0.20,100.1,113.5,113.8,0.537,0.570,12.7,26.3,0.214,0.550,0.583,11.9,20.0,0.186
4,0,0.319,-5.56,0.31,-5.25,101.6,109.5,115.0,0.520,0.555,12.4,22.7,0.193,0.556,0.591,13.3,23.2,0.207

In [11]:
# Exploring the data
stats_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 81 entries, 0 to 80
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Position     81 non-null     int64
 1   Win_pct      81 non-null     float64
 2   MOV          81 non-null     float64
 3   SOS          81 non-null     float64
 4   SRS          81 non-null     float64
 5   Pace         81 non-null     float64
 6   ORtg         81 non-null     float64
 7   DRtg         81 non-null     float64
 8   eFG_pct      81 non-null     float64
 9   TS_pct       81 non-null     float64
 10  TOV_pct      81 non-null     float64
 11  ORB_pct      81 non-null     float64
 12  FT_FGA       81 non-null     float64
 13  Opp_eFG_pct  81 non-null     float64
 14  Opp_TS_pct   81 non-null     float64
 15  Opp_TOV_pct  81 non-null     float64
 16  Opp_ORB_pct  81 non-null     float64
 17  Opp_FT_FGA   81 non-null     float64
dtypes: float64(17), int64(1)
memory usage: 11.5 KB

In [12]:
stats_df.shape

(81, 18)

In [13]:
# Drop Position target from features data
y = stats_df.Position
X = stats_df.drop(columns=["Position"])

# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [14]:
feature_names = X.columns

In [17]:
# Create a StandardScaler instance to scale the data
scaler = StandardScaler()

# Scale the data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [19]:
tree_1=DecisionTreeClassifier(random_state = 40)

tree_1.fit(X_train_scaled, y_train)
y_train_pred=tree_1.predict(X_train_scaled)
y_test_pred=tree_1.predict(X_test_scaled)

#print(f"Decision Tree Training Data Score: {tree1.score(X_train, y_train)}")
#print(f"Decision Tree Testing Data Score: {tree1.score(X_test, y_test)}")

All features score = 0.96581

## Segment 2-----------------------